@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/INICIO.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 100vh ;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    justify-content: space-evenly;
}

.main-content h1 {
    font-size: 20px;
    font-family: "Jaini Purva", sans-serif; /* No necesitas usar !important aquí */
    margin-bottom: 95px;
    margin-right: 30px; /* Las unidades deben estar en minúsculas */
}

.jaini-purva-regular {
    font-family: "Jaini Purva", sans-serif;
    font-weight: 400; /* El peso solo debe ser un número, no incluyas 'px' */
    font-style: normal;
}
.titulo {
    font-family: "Jaini Purva", sans-serif;
    font-size: 30px;
    display: flex; 
    justify-content: space-between; /* Separa los elementos a ambos extremos */
    margin-bottom: 300px;
    align-content: flex-start;
}
h1{
    gap: 10px;
    margin-right: 15px;
}
h2{
    font-size: 60px;
}
#h3{
    display: flex;
justify-content: center;

}
.boxmenu {
    background-color: rgb(207, 229, 235);
    color: black;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 60px;
    border: 5px solid rgb(0, 0, 0);
    align-self: flex-end;
    margin-top: 12px;
}

.boxmenu h2 {
    border-bottom: 4px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p {
    height: auto;
    width: auto;
}

.menu img {
    margin-right: 100px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.main-content h1 {
    font-size: 8px;
    font-family: "Inknut Antiqua", serif;
    margin-bottom: 95px;
    margin-right: 30px;
}

.inknut-antiqua-light {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
}

.jaini-purva-regular {
    font-family: "Jaini Purva", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: aliceblue;
}
 
.submenu1{
    color: black;
    text-decoration:none;

}
  
.boxmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.boxmenu ul li {
    position: relative;
}

  
  .boxmenu li a {
    display: block;
    padding: 10px;
    color: #ddd;
    text-decoration: none;
  }
  .boxmenu ul li:hover .submenu {
    display: block;
    max-height: 200px; /* Ajusta esta altura según el número de elementos */
    transition: max-height 0.3s ease-in-out; /* Añade transición suave */

}

  
.submenu {
    display: none; /* Oculto por defecto */
    position: relative; /* Cambiamos a 'relative' para que quede dentro de .boxmenu */
    background-color: rgb(207, 229, 235);
    border-radius: 10px;
    padding: 10px 0;
    width: 100%; /* Asegura que el submenú ocupe todo el ancho de la caja */
    
}

.submenu li a {
    color: black;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: rgb(216, 98, 145);
    color: white;
}

  
.boxmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.boxmenu ul li {
    position: relative;
}

  
  .boxmenu li a {
    display: block;
    padding: 10px;
    color: #ddd;
    text-decoration: none;
  }
  .boxmenu ul li:hover .submenu {
    display: block;
    max-height: 200px; /* Ajusta esta altura según el número de elementos */
    transition: max-height 0.3s ease-in-out; /* Añade transición suave */

}

  
.submenu {
    display: none; /* Oculto por defecto */
    position: relative; /* Cambiamos a 'relative' para que quede dentro de .boxmenu */
    background-color: rgb(207, 229, 235);
    border-radius: 10px;
    padding: 10px 0;
    width: 100%; /* Asegura que el submenú ocupe todo el ancho de la caja */
    
}

.submenu li a {
    color: black;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: rgb(216, 98, 145);
    color: white;
}