* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/plantillaHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.boxgrande {
  background-color: rgba(236, 236, 241, 0.5);
  height: 500px;
  width: 90%;
  margin-top: 40px;
  margin-left: 40px;
  display: flex; 
  justify-content: center;
  align-items: center; 
  border-radius: 52px;
  color: rgb(17, 30, 145);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxtexto {
  height: 500px;
  width: auto;
  padding: 20px;
  border-radius: 10px; /* Otras propiedades de estilo */
  justify-content: center;
  display:flexbox;
  align-items: center;
}

.boxtexto h1{
  font-size: 100px;
}
.boxtexto h2{
  font-size: 70px;
}
.img {
  width: 300px;
  height: auto;
  margin-left: 20px; /* Espacio entre el texto y la imagen */
}