@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-image: url("../img/plantillaHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: "Inknut Antiqua", serif;
  }

  .boxtexto{
    height:200px;
    width:2000px;

    line-height: 0px;
    }
    
  .boxgrande {
    background-color: rgba(236, 236, 241, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 500px;
    width: 90%;
    margin-top: 40px;
    margin-left: 40px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    border-radius: 52px;
    color: rgb(17, 30, 145);
    padding: 20px;
  }
  
  
  .flex-container {
  
    height: 200px;
    width: 1000px;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solidsilver;
    -ms-box-orient: horizontal;
    display:flex ;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content:center;
    align-items: center;
    justify-content: end;
    font-family: "Inknut Antiqua", serif;

  }
  .btn:hover {
    transform: scale(1.05);
  }
  .btn1:hover {
    transform: scale(1.05);
  }
  .btn{
    border-width: 5px;
    border-bottom-color: aliceblue;
    border-color: rgb(237, 239, 241);
    color: aliceblue;
    text-decoration-color:blue;
    background-color: rgb(230, 28, 109);
    border-radius: 52px 52px 52px 52px;
    height: 60px;
    width: 230px;
    margin-bottom: 80px;
    font-family: "Inknut Antiqua", serif;
  }
.btn1{
      border-width: 5px;
      border-color: rgb(237, 239, 241);
      color: aliceblue;
      text-decoration-color:blue;
      background-color: rgb(235, 96, 151);
      border-radius: 52px 52px 52px 52px;
      height: 60px;
    width: 230px;
    font-family: "Inknut Antiqua", serif;
      
  }
  
  .h1{
    text-align:center;
    color:rgb(61, 25, 192);
    padding:20px;
    height:214px;
    width: 1498 px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family:Iknut Antiqua;
    font-size: 100px;
  
  }
  .h2{
    text-align:center;
    color:rgb(61, 25, 192);
    padding:20px;
    height: 1051px;;
    width: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-decoration: none;
  
  }
  
  .boxtexto {
    display: flex;          
    flex-direction: column;   
    align-items: first baseline; 
  justify-content: center;
}

  .h1 {
    margin: 15px 0; /* Ajusta el margen superior e inferior como desees */
    color: rgb(34, 10, 248);
    padding: 10px; /* Mantén el padding si es necesario */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxtexto p {
    margin: 0;             
    padding: 0;              
    line-height: 1.2;       
    font-size: 40px;
}

.cont{
    background-color: blue;
    height:400px;
    display: flex;
    justify-content: end;
  
  }


.box2 {
      text-align: center;
      padding: 20px;
      height: 600px;
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;  /* Centra verticalmente */
      align-items: center;      /* Centra horizontalmente */
      margin-bottom: 10px;
    }
    
  
