@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #43b7e0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}
.main-content h1{
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 200px;
    font-family: "Jaini Purva";
}
}

 .jaini-purva-regular {
        font-family: "Jaini Purva", system-ui;
        font-weight: 400;
        font-style: normal;
}


.search-box input{
    height: 30px;
    width: 300px;
    border-color: black;

}
.search-box button{
    height: 40px;
    width: 150px;
    background-color: rgb(223, 60, 114);
    border-radius: 40px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}
.boxmenu{
background-color: rgb(148, 199, 199);
width: 300px;
height: 300px;
display:flex;
align-self:  self-end;
border-radius: 47px;
border-color: black;
}
