@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/INICIO.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 100px ;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-attachment: fixed;

}
.icon{
    height: 20px;
    width: auto;
}
p{
    margin-top: 10px;
    font-size:17px;
    color: rgb(87, 85, 85);
}
#h3inicio{
   font-size: 25px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 16px;
}
.box1{

    display: flex;
}
.boxgrande {
    height: 700px;
   display: flex;
}

.boxp{
    margin-right: 100px;
    height: 400px;
    width: 700px;
   margin-top: 100px;
   display: flex;
}
.main-content h1{
    font-size:60px;
    font-family: "Jaini Purva";
    margin-bottom: 10px;
}


.jaini-purva-regular {
        font-family: "Jaini Purva", system-ui;
        font-weight: 400px;
        font-style: normal;
}

.search-box {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.search-box input {
    height: 40px;
    width: 350px;
    border-color: black;
    margin-top: 35px;
    margin-bottom: 30px;
    border-radius:5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    
}

.search-box button {
    height: 50px;
    width: 200px;
    background-color: rgb(255, 79, 151);
    border-radius: 40px;
    border-color: black;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}      
.button:hover{
    transform: scale(1.05); 
}
.boxmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.boxmenu {
    background-color: rgb(207, 229, 235);
    color: black;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 60px;
    border: 5px solid rgb(0, 0, 0);
    align-self: flex-end;
    margin-bottom: 70px;
    margin-right: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: "Jaini Purva", system-ui;
}

.boxmenu:hover {
    transform: translateY(-5px); /* Elevar el menú ligeramente */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Agregar sombra suave */
}

.boxmenu h2 {
    border-bottom: 4px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.boxmenu ul li {
    position: relative;
}

.boxmenu li a {
    display: block;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.boxmenu li a:hover {
    background-color: rgb(216, 98, 145); /* Fondo más oscuro */
    color: white; /* Texto blanco */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Sombra en el enlace */
    transform: scale(1.05); /* Ligeramente más grande */
}

.boxmenu ul li:hover .submenu {
    display: block;
    max-height: 200px; /* Altura animada */
    transition: max-height 0.3s ease-in-out;
}

.submenu {
    display: none; /* Oculto por defecto */
    position: relative; /* Dentro de .boxmenu */
    background-color: rgb(207, 229, 235);
    border-radius: 10px;
    padding: 10px 0;
    width: 100%; /* Asegura que el submenú ocupe todo el ancho de la caja */
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.submenu li a {
    color: black;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submenu li a:hover {
    background-color: rgb(216, 98, 145); /* Fondo más oscuro en submenú */
    color: white; /* Texto blanco */
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-style: black;;

}