
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/Login4.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    gap: 60px; 
    justify-content: space-around; 
}

.box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: blue;
    height: 300px;
    width: 300px;
}

.box2 {
    background-color: coral;
    height: 400px;
    width: 400px;
    transform: scale(1.1); 
    transform-origin: center; 
}

#input {
    margin-bottom: 10px;

}
.box3 {
    background-color: rgb(255, 51, 0);
    height: 300px;
    width: 300px;
}

#h2 {
    transform: rotate(-18deg);
    color: rgb(65, 131, 206);
    
}

#loginForm {
    transform: rotate(-18deg);
    padding: 40px;
    border-radius: 20px;
}
#user{
    margin-bottom: 15px;
    margin-top: 20px;
}
#password{
    margin-bottom: 15px;
}