
*{
 margin: 0;
 padding: 0;
}
body {
    background-image: url("../img/Login.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.box1 {
background-color: blue;
   height: 300px;
   width: 300px;
   align-self:center;
   margin-top:200px;

}
.box2 {
    background-color: coral;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top:200px;
    margin-right: 50px;

}
#h2 {
    transform: rotate(-18deg);
    margin-bottom: 20px;
    font-size: ;
}
#loginForm {
    transform: rotate(-18deg);
    padding: 20px;
    border-radius: 20px;
    
}


#user{
    margin-bottom: 10px;

}
#password{
    margin-bottom: 10px;
}

.box3 {
    background-color: rgb(255, 51, 0);
    height: 300px;
    width: 300px;
    margin-top:200px;
}
