

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/Login4.png");
    background-size: cover;            
    background-repeat: no-repeat;
    background-position: center;       
    background-attachment: scroll;    
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: "Inknut Antiqua", serif;
    justify-content: space-around; 
}


body, .inknut-antiqua-regular {
    font-family: "Inknut Antiqua", serif;
}
.box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; 
}
.inknut-antiqua-regular {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}
.box1 {
    transform: rotate(10deg);
    height: 300px;
    width: 300px;
    display: flex;
    justify-content:flex-start;
    color:darkblue;
    margin-left: 10px;
}
h1{
    color:darkblue;
    font-size: 55px;

    
}
.box2 {
    height: 400px;
    width: 400px;
    transform: scale(1.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 85px;
    font-family: "Jaini Purva";
    margin-bottom: px;
    color: rgb(6, 49, 97);
    font-size: 1.5rem; 
}


.jaini-purva-regular {
        font-family: "Jaini Purva", system-ui;
        font-weight: 40px;
        font-style: normal;
        color: rgb(65, 131, 206);
        font-size: 2.5rem; 
}


.box2 .julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 200px;
    font-style: normal;
    color: rgb(65, 131, 206);
    font-size: 2.5rem; 
  }
  

#input {
    margin-bottom: 10px;
    border-color: black;
    height: 50px;
    width: auto;

}
.box3 {
   
    height: 400px;
    width: 300px;
}

#h2 {
    color: rgb(65, 131, 206);
    font-size: 2.5rem;    /* Tamaño de letra más uniforme */
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}


#loginForm {
    transform: rotate(-18deg);
    padding: 40px;
    border-radius: 20px;
   
 
}
#user{
    transform: rotate(-3deg);
    margin-bottom: 15px;
    margin-top: 20px;
    border-color: black;
    height: 30px;
    width: 250px;
    

}
#password{
    transform: rotate(-3deg);
    margin-bottom: 15px;
    border-color: black;
    height:30px;
    width: 250px;
    display: flex;
    justify-content: center;
}
#loginForm button {
    background-color:rgb(	255, 97, 154);
    border-radius: 20px;
    transform: rotate(-3deg);
    height: 40px;
    width: 100px;
    cursor: pointer;
   
}
button:hover {
    background-color: #f80a81;}
.box3{
    
    display: flex;         
    justify-content: center; 
    align-items: center;   
    height: 500px;
    margin-right: 40px;
    margin-top: 30px;
   
}
#user, #password, #input {
    transition: border-color 0.3s ease;
    border: 2px solid #333;    /* Fondo blanco */
    transform: rotate(-3deg);
}

#user:focus, #password:focus, #input:focus {
    border-color: #ff619a;
    outline: none;    
}

.box2 {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.box2:hover {
    transform: scale(1.15);
}