
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/Login4.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    gap: 60px; 
    justify-content: space-around; 

}
body, .inknut-antiqua-regular {
    font-family: "Inknut Antiqua", serif;
}
.box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inknut-antiqua-regular {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}
.box1 {
    transform: rotate(10deg);
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    color:darkblue;
}

.box2 {
  
    height: 400px;
    width: 400px;
    transform: scale(1.1); 
    transform-origin: center; 
    border-color: black;

}

.box2 .julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

#input {
    margin-bottom: 10px;
    border-color: black;
    height: 50px;
    width: auto;

}
.box3 {
   
    height: 400px;
    width: 300px;
}

#h2 {
    transform: rotate(deg);
    color: rgb(65, 131, 206);
    
}

#loginForm {
    transform: rotate(-18deg);
    padding: 40px;
    border-radius: 20px;
   
 
}
#user{
    transform: rotate(-3deg);
    margin-bottom: 15px;
    margin-top: 20px;
    border-color: black;
    height: 30px;
    width: 250px;
    

}
#password{
    transform: rotate(-3deg);
    margin-bottom: 15px;
    border-color: black;
    height:30px;
    width: 250px;
    display: flex;
    justify-content: center;
}
#loginForm button {
    background-color:rgb(	255, 97, 154);
    border-radius: 20px;
    transform: rotate(-3deg);
    height: 40px;
    width: 100px;
    cursor: pointer;
   
}
button:hover {
    background-color: #f80a81;}
.box3{
    
        display: flex;          /* Activa Flexbox */
        justify-content: center; /* Centra horizontalmente */
        align-items: center;   /* Centra verticalmente si es necesario */
        height: 500px;
        margin-right: 40px;
        margin-top: 30px;
        margin
    }
    
.img {
        width: 280px;  
        height:auto; 
        max-width: 100%; 
}