*{
  margin: 0px ;
  padding: 0px
} *

body {
  background-image: url("../img/plantillaHome.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box1 {
background-color: rgb(173, 115, 228);
height: 90px;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
border: 1px solid silver;
-ms-box-orient: horizontal;
/* display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -moz-flex;
display: -webkit-flex; */
display: flex;
flex-direction: row;
flex-wrap: nowrap


}

.flex-container {
  background-color:crimson(186, 186, 209);
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solidsilver;
  -ms-box-orient: horizontal;
  display: flex;
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: end;
  align-items: right;
}

.button {
  border-color: rgb(2, 15, 26);
  text-decoration-color:blue;
  display: inline-flex ;
  flex-direction: column;
  justify-content: end;
  align-items: right;
  border: radius;
  border-top: 15px;
  margin-right: 15px;
  flex-wrap: nowrap;
-webkit-flex-wrap: nowrap;
border-radius: 30px;
}

.h1{
  text-align:center;
  color:rgb(61, 25, 192);
  padding:20px;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;


}
.h2{
  text-align:center;
  background-colowhite;
  color:rgb(61, 25, 192);
  padding:20px;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-decoration: none;


}


p{
  
  color: rgb(24, 5, 5);
  padding:20px;
  height:1%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solisilver;
  -ms-box-orient: horizontal;
  display: flex;
  border-radius: 10px;
}


.nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 60px;
  width: 40px;
}


flex-item {
  background: rgb(17, 14, 14);
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.box2{
  background-color: rgb(29, 190, 96);
  text-align:center;
  padding:20px;
  height: 330px;
  width: 330px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction:column-reverse;
  justify-content: end;
  align-items: right;

  flex-direction: column;
}
.flex-box2{
  background-color: rgb(190, 29, 93);
  text-align:center;
  padding:20px;
  height:100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  }
